/* algemeen */
*{ 
  box-sizing:border-box; 
  font-family:"agrandir";
}
html,body{ 
  height:100%; 
}
body{
  margin:0;
  background:#fff;
  color:#8E8C6F;
}
a{
  text-decoration:none; 
}

/* startpagina */
.screen{
  width:100%;
  max-width:420px;
  min-height:100vh;
  background:#fff;
}
body{
  display:flex;
  justify-content:center;
}
.screen .hero{
  position:relative;
  border-radius: 0 0 180px 180px;
  background:#8E8C6F;
  height: 51vh;
  min-height: 420px;
  padding: 70px 18px 0;
  text-align:center;
  overflow:hidden;
}
.screen .hero::after{
  position:absolute;
  left:50%;
  bottom:-150px;
  transform:translateX(-50%);
  width:155%;
  height:300px;
  background:#8E8C6F;
  border-radius:999px;
  z-index:1;
}
.screen .hero__inner{ 
  position:relative; z-index:2; 
}
.screen .hero__title{
  margin:0;
  color:#F3F1E6;
  font-weight:400;
  font-size:48px;
  line-height:1.02;
  letter-spacing:.2px;
}
.screen .hero__at{
  margin: 10px 0 10px;
  color:#F3F1E6;
  font-weight:400;
  font-size:26px;
  line-height:1;
}
.screen .hero__logo{ 
  width: 260px; 
  margin: 0 auto; 
}
.screen .hero__logo svg{ 
  width:100%; 
  height:auto; 
  display:block; 
}
.screen .hero__avatars{
  position:absolute;
  left:50%;
  padding-top: 80px;
  transform:translateX(-50%);
  display:flex;
  align-items:flex-end;
  z-index:3;
}
.screen .avatar{
  width:92px;
  height:92px;
  object-fit:contain;
  display:block;
  border-radius:50%;
}
.screen .avatar-1{
  transform: translateY(-40px) rotate(28deg); 
}
.screen .avatar-2{ 
  transform: translateY(-5px) rotate(5deg); 
}
.screen .avatar-3{ 
  transform: translateY(0) rotate(-5deg); 
}
.screen .avatar-4{ 
  transform: translateY(-40px) rotate(-28deg); 
}
.screen .content{
  padding: 44px 22px 44px;
  text-align:center;
}
.screen .content__title{
  margin: 0 0 18px;
  color:#8E8C6F;
  font-weight:400;
  font-size:52px;
  line-height:1.05;
}
.screen .content__text{
  margin: 0 auto 44px;
  max-width: 28ch;
  color:#8E8C6F;
  font-weight:400;
  font-size:24px;
  line-height:1.1;
}
.screen .btn{
  width: min(340px, 92%);
  height: 60px;
  margin: 0 auto;
  border-radius:18px;
  background:#7F7B62;
  color:#F3F1E6;
  font-weight:400;
  font-size:22px;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:14px;
}
.screen .btn:active{ 
    transform: translateY(1px); 
}
.screen .btn__icon{
  width:28px;
  height:28px;
  object-fit:contain;
  display:block;
  filter: brightness(0) invert(1);
}